.container{
  position:relative;
  width:100%;
  height:90%;
}

#instructions{
  height:60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    font-weight: bold;
  }
}

#indicator-bar-container{
  z-index:13;

  position: absolute;
  top:0;
  left:0;
  height:100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  #indicator-bars{
    height: 65px;
    background-color:#FFFFFF33;
    border-top:3px solid white;
    border-bottom: 3px solid white;
  }
}

.preview-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height:100%;

  position: relative;
  #preview{

  }
}
#image-controls-container{

}

.imagePreview{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

canvas {

  height:100%;
}

